<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AppBeliKopi.My.MySettings.ConnectionString" connectionString="Dsn=konek_dbpenjualan"
            providerName="System.Data.Odbc" />
        <add name="AppBeliKopi.My.MySettings.ConnectionString1" connectionString="Dsn=db_kasirkopi"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>